@import "theme";
@import "functions";
@import "form";

*:not(svg > *):not(svg) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: c(text);
}

body {
  min-height: 100vh;
  background-color: c(background);
  display: flex;
  flex-direction: column;
}

.no-transition * {
  transition: none !important;
}