:root {
  --c-text: 15, 23, 42;
  --c-text-secondary: 100, 116, 139;
  --c-text-reverse: 248, 250, 252;
  --c-text-disabled: 226, 232, 240;

  --c-background: 255, 255, 255;
  --c-background-secondary: 241, 245, 249;
  --c-background-hover: 224, 229, 232;

  --c-background-reverse: 15, 23, 42;
  --c-background-reverse-secondary: 38, 45, 62;
  --c-background-reverse-hover: 45, 53, 72;

  --c-border: 226, 232, 240;
  --c-border-secondary: 200, 206, 217;

  --c-text-danger: 220, 38, 38;
}

[data-theme="dark"] {
  --c-text: 225, 231, 239;
  --c-text-secondary: 102, 115, 134;
  --c-text-reverse: 3, 7, 17;
  --c-text-disabled: 225, 231, 239, 0.6;

  --c-background: 3, 7, 17;
  --c-background-secondary: 15, 22, 41;
  --c-background-hover: 29, 40, 58;

  --c-background-reverse: 223, 226, 229;
  --c-background-reverse-secondary: 223, 226, 229;
  --c-background-reverse-hover: 211, 214, 218;

  --c-border: 29, 40, 58;
  --c-border-secondary: 37, 50, 72;

  --c-text-danger: 220, 38, 38;
}