.header {
  height: 60px;
  background-color: c(background);
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid c(border);
  gap: 50px;
}

.header__nav {
  flex-grow: 1;
}

.header__logo {
  height: 24px;
  width: auto;
}