.context-menu {
  border-radius: 4px;
  background-color: c(background);
  border: 1px solid c(border);
  padding: 6px;
  min-width: 100px;
  box-shadow: 0 0 12px 0 c(text, 0.1);

  .divider {
    border: 0;
    border-top: 1px solid c(border);
    margin: 6px 0;
  }
}
