.loader {
  display: flex;
  gap: 10px;
  align-items: center;
  width: max-content;
  color: inherit;

  &--vertical {
    flex-direction: column;
  }

  svg {
    animation: spin 1s linear infinite;
  }

  &--full {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: c(background-secondary);
    width: 100%;
    border-radius: 5px;
    border: 1px solid c(border);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
